<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

    <!-- Enable @Transactional support -->
    <tx:annotation-driven transaction-manager="transactionManager" />

	<!-- Define hibernate session factory -->
	<bean
		id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
        p:dataSource-ref="dataSource" p:configLocation="classpath:hibernate.cfg.xml"
        p:packagesToScan="com.sidorykp.sandbox.vaadin.hbncontainer.domain"/>

    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
          p:initialSize="2" p:maxActive="3"
          p:driverClassName="org.h2.Driver" p:url="jdbc:h2:˜/hbncontaienerexampledb"
          p:username="sa" p:password="sa" />

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager"
          p:sessionFactory-ref="sessionFactory">
    </bean>
</beans>